<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>TO-DO List</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <!-- Bootstrap scripts -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script> -->

</head>

<body>
  <!-- jQUery scripts -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <div id="content">

    <div class="box  <%= classType %>" id="heading">
      <h1><%= pDay %> <br><%= listType %></h1>
      
    </div>
      <form class="item" action="/" onkeydown="return event.key != 'Enter';"  method="post">
      <div class="container-fluid">
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm" value="todoList">Default <i class="fas fa-sign-in-alt"></i></button>
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm " value="personalList">Personal <i class="fas fa-sign-in-alt"></i></button>
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm " value="workList">Work <i class="fas fa-sign-in-alt"></i></button>
      </div>
      <div class="box innerBox">
        <div class="scrollable">
        <% for(i=0;i<nItem.length;i++) { %>
        <div class="item">
          <button class="checkboxItem" type="submit" name="itemCB" value="<%= nItem[i] %>">✔</button>
          <p class="<%=strikeItem[i]%>"><%=nItem[i]%></p>
          <button type="submit" class="remButton <%= classType %>" name="checkB"  value="<%= nItem[i] %>"><i class="fas fa-minus"></i></button>

        </div>
        <%}%>
        </div>
        <input type="checkbox" checked name="para" value="<%= classType %>" class="hidCB">
    <!-- </form> -->
    <!-- <form class="item" action="/" method="post"> -->
      <input type="text"  name="newItem" placeholder="New Item" autofocus autocomplete="off">
      <button type="submit" class="addButton <%= classType %>" name="button" value="<%= listType %>"><i class="fas fa-plus"></i></button>
    </div>
    </form>
  </div>

    <div id="div1">
      <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop <%= classType %>">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner  bgMiddle <%= classType %>">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner  bgBottom <%= classType %>">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
    </div>
    <script src="extra.js" charset="utf-8"></script>
  </body>

</html>
