<%-include("header")-%>

<body>
  <!-- jQUery scripts -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <div id="content">

    <div class="box  <%= classType %>" id="heading">
      <h1><%= pDay %> <br><%= listType %></h1>

    </div>
      <form class="item" action="/" onkeydown="return event.key != 'Enter';"  method="post">
      <div class="container-fluid">
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm" value="todoList">Default <i class="fas fa-sign-in-alt"></i></button>
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm " value="personalList">Personal <i class="fas fa-sign-in-alt"></i></button>
        <button type="submit" name="tabSelector" class="btn btn-info btn-sm " value="workList">Work <i class="fas fa-sign-in-alt"></i></button>
      </div>
      <div class="box innerBox">
        <div class="scrollable">
        <% nItem.forEach((element)=> { %>
        <div class="item">
          <input  type="checkbox" onChange="this.form.submit()" name="itemCB" value="<%= element._id %>">
          <p class="<%=element.itemsChecked%>"><%=element.name%></p>
          <button type="submit" class="remButton <%= classType %>" name="checkB"  value="<%= element._id %>"><i class="fas fa-minus"></i></button>

        </div>
        <%})%>

        </div>
        <input type="checkbox" checked name="para" value="<%= classType %>" class="hidCB">
    <!-- </form> -->
    <!-- <form class="item" action="/" method="post"> -->
      <input type="text"  name="newItem" placeholder="New Item" autofocus autocomplete="off">
      <button type="submit" class="addButton <%= classType %>" name="button" value="<%= listType %>"><i class="fas fa-plus"></i></button>
    </div>
    </form>
  </div>

    <div id="div1">
      <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop <%= classType %>">
        <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner  bgMiddle <%= classType %>">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner  bgBottom <%= classType %>">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
    </div>
    </div>
    <script src="extra.js" charset="utf-8"></script>
  </body>

</html>
